body{
    margin: 0;
}
#me {
    position: absolute;
    top: 10%;
    right: 43%;
    background-color: #373737;
    border: 1px solid white;

}
#imagenPrincipal{
    width: 100%;
    position: absolute;
    top: 0%;
}
#abajo{
    position: absolute;
    top: 0;
}