* {
    background-color: black;
    margin: 0;
    padding: 0;
}
#me {
    position: absolute;
    top: 10%;
    right: 43%;
    background-color: #373737;
    border: 1px solid white;

}
#imagenPrincipal{
    position: absolute;
    top: 0;
    width: 100%;
}
#abajo{
    position: absolute;
    top: 0;
}