<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/controles.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../CSS/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" >

    <script src="../../Dynamics/Librerías/jquery-3.4.1.min.js"></script>

    <title>Inicio</title>
</head>
<body >

     <video autoplay muted loop id="video">
        <source src="../Media/video/inicio.mp4" type="video/mp4">
      </video>

      <img src="../Media/ControlesW.png" alt=""></img>s
    
    <div id="cajaGrande" >
        <div id="cajaChica">
            <h1 id="loser">C O N T R O L E S</h1>
            <br>
            <br>
                <div id="butones">
                        <button class="btn btn-outline-danger" id="back">Regresar</button>
                </div>
            
        </div>
    </div>


</body>
<script src="../../Dynamics/controles.js"></script>
</html>