<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/modos.css">
    
    <!-- <link rel="stylesheet" href="../CSS/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Cambay|Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron&display=swap" rel="stylesheet">
    <script src="../../Dynamics/js/Librerías/jquery-3.4.1.min.js"></script>
    <title>Register</title>
</head>
<body style="background-color: #1F1F20;">


    <img alt="full screen background image" src="../Media/Supervivencia_background.jpg" id="full-screen-background-image">


    <div id="bigbox">
        <div id="cajaChica">
            <label id="Log">Misión</label><br>
           <div >
               <label>Elige una dificultad</label>
               <select id="dif">
                <option value="1">Novato</option>
                <option value="2">Valiente</option>
                <option value="3">Héroe</option>
              </select>
           </div>
        </br>
           <div id="mod">
                <label id='mod_tit'>Elige un modo de juego</label>
                <select id="mod_s">
                    <option value="1">Supervivencia</option>
                    <option value="2">Mensajero</option>
                    <option value="3">Guardián Supremo</option>
                    <option value="4">Flota</option>
                    <option value="5">El Rey Ha Caído</option>
                  </select>
           </div>
            </br></br></br>
           <div id="Go">
                <button class="btn btn-outline-info" id="hey">Iniciar Juego</button>
           </div>
           
           <button class="btn btn-outline-danger" id="back">Regresar</button>
           <br>
           <div id="shop">
            <button type="button" id="htrshop" class="btn btn-outline-warning">HunterShop</button>


           </div>

        </div>   
    </div>

    <div id="infobox">
        <div id="cajaChica">
            <label id="modo">Supervivencia</label><br>
           <div class="descript">Quedaste varado en el sector K-3345, los enemigos te flanquean, puedes sobrevivir el tiempo necesario para que llegue la brigada de rescate?</div>
        </div>   
    </div>

    <div id="datos">
        <div id="top">
            <p id="username"></p>
        </div>

        
    </div>
    <script src="../../Dynamics/js/cookie_setter.js"></script>

    <script src="../../Dynamics/js/modos.js"></script>


</body>
</html>