<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../CSS/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/huntershop.css">
    <script src="../../Dynamics/Librerías/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    <img id="todo_fondo"src="./../Media/black_poly.jpg" alt="Universe image">

    <div id="test">
          <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-interval="3000" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="9"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="10"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="11"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="12"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="13"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="14"></li>
                </ol>
                <div class="carousel-inner">
                      <div class="carousel-item active" precio="1500" number="1">
                          <img src="./../Media/Arte/la_ultima_cena_pic.jpg" class="d-block w-100" alt="...">
                              <div class="carousel-caption d-none d-md-block">
                                    <h5>Última cena, Da Vinci / José Manuel Ballester</h5>
                                    <button type="button" class="btn btn-outline-warning buy">Comprar  $1500</button>

                              </div>
                      </div>

                      <div class="carousel-item" precio="2000" number="2">
                            <img src="./../Media/Arte/las_meninas_pic.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Las Meninas, Velázquez / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $2000</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="2500" number="3">
                            <img src="./../Media/Arte/third_of_may_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>3 de mayo, Goya / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $2500</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="3000" number="4">
                            <img src="./../Media/Arte/balsa_medusa_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>La balsa de la medusa, Géricault / José Manuel Ballester </h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $3000</button>
                            </div>
                      </div>
                      <div class="carousel-item" precio="3500" number="5">
                            <img src="./../Media/Arte/arte_pintura_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>Estudio del artista, Vermeer / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $3500</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="4000" number="6">
                            <img src="./../Media/Arte/venus_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>El Nacimiento de Venus, Boticelli/ José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $4000</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="4500" number="7">
                            <img src="./../Media/Arte/guernica_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>Guernica, Picasso/ José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $4500</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="5000" number="8">
                            <img src="./../Media/Arte/cristo_crucificado_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>Cristo Crucificado, Velázquez / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $5000</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="5500" number="9">
                            <img src="./../Media/Arte/la_anunciacion_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>La Anunciación, Giotto / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $5500</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="6000" number="10">
                            <img src="./../Media/Arte/jardin_delicias_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>El Jardín de las Delicias, El Bosco / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $6000</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="6500" number="11">
                          <img src="./../Media/Arte/paisaje_invernal_pic.jpg "class="d-block w-100" alt="...">

                          <div class="carousel-caption d-none d-md-block">
                            <h5>Paisaje Invernal, Brueghel / José Manuel Ballester</h5>
                            <button type="button" class="btn btn-outline-warning buy">Comprar   $6500</button>
                          </div>
                      </div>

                      <div class="carousel-item" precio="7000" number="12">
                            <img src="./../Media/Arte/puerto_ostia_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>Puerto en Ostia, Claudio de Lorena / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar $7000</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="7500" number="13">
                            <img src="./../Media/Arte/fuente_gracia_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>La fuente de la Gracia, Escuela de Jan van Eyck / José Manuel Ballester </h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $7500</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="8000" number="14">
                            <img src="./../Media/Arte/la_anunciacion_da_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>La Anunciación, Da Vinci / José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $8000</button>
                            </div>
                      </div>

                      <div class="carousel-item" precio="8500" number="15">
                            <img src="./../Media/Arte/photo_pekin_4_pic.jpg" class="d-block w-100" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                              <h5>Pekin 4, 2005, José Manuel Ballester</h5>
                              <button type="button" class="btn btn-outline-warning buy">Comprar  $8500</button>
                            </div>
                      </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
          <div id='dinero'></div><br>
          <button class="btn btn-outline-danger" id="back">Regresar</button>
          

    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">COMPRA MUCHO ARTE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Parece que no has comprado nada todavía :O <br>
            El arte es muy preciado en toda la galaxia, hay un lugar recóndito, llamado Tierra, donde el 
            arte es parte de la vida de los seres. Se obsesionaron en retratar a los demás; a nosotros nos gusta más 
            la manera en que construyen sus escenarios. En esta selecta colección tienes prueba de ello; desde luego,
            puedes buscar las obras originales... Mucha suerte, y consiguelas todas, son obras extremadamente raras. 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Entendido</button>
          </div>
        </div>
      </div>
    </div>
    
    
</body>
    <script src="../../Dynamics/cookie_setter.js"></script>
    <script src="../../Dynamics/huntershop.js"></script>

</html>