<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/inicio.css">
    <link rel="stylesheet" href="../CSS/register.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../CSS/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" >

    <script src="../../Dynamics/Librerías/jquery-3.4.1.min.js"></script>

    <title>Inicio</title>
</head>
<body >

     <video autoplay muted loop id="video">
        <source src="../Media/video/inicio.mp4" type="video/mp4">
      </video>
    
    <div id="cajaGrande" >
        <div id="cajaChica">
            <h1 id="loser">S P A C E<span id='space'></span> H U N T E R</h1>
            <br>
            <br>
                <div id="butones">
                        <button class="btn btn-outline-info" id="boton_start">Comenzar</button>
                        <br>
                        <br>
                        <button class="btn btn-outline-light" id="boton_controles">Controles</button>
                        <br>
                        <br>
                        <button class="btn btn-outline-light" id="boton_credits">Créditos</button>
                        <br>
                        <br>
                        <button class="btn btn-outline-danger" id="boton_salir">Salir</button>
                </div>
            
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Créditos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <p>Universidad Nacional Autónoma de México<br><br>

                Estudio Técnico Especializado en Computación<br>
                
                Concurso de Programación: Computación Gráfica<br><br>
                Equipo: Midnight Blame<br><br>Fondo: CNCcamon1. (2016). SW Rogue One Hyperspace Visual Effects. 17/02/2020, de Youtube web docs Sitio web: https://www.youtube.com/watch?v=d5W3afhgOlY
                AA VFX. (2019). TRUE 1-MILLION STARS - Space Moving Background - Flying into 1M Particle Nebula #AAVFX. 17/02/2020, de Youtube web docs Sitio web: https://www.youtube.com/watch?v=YSZQp_EfSXY
                <br><br>Creado con PHP, Javascript y Three.js</p>
            </div>
          </div>
        </div>
      </div>

</body>
<script src="../../Dynamics/inicio.js"></script>
</html>