<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/login.css">
    <!-- <link rel="stylesheet" href="../CSS/register.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Cambay|Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../CSS/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="../../Dynamics/Librerías/jquery-3.4.1.min.js"></script>

    <title>LogIn</title>
    <style> 
    a{text-decoration:none;} 
     a:hover{text-decoration:none;}  
    </style>
</head>
<body style="background-color: #1F1F20;">
    <!-- <video autoplay muted loop id="myVideo">
        <source src="../../../Media/Space_hunter_intro.mp4" type="video/mp4">
     </video> -->
     <img alt="full screen background image" src="../Media/login_background.jpg" id="full-screen-background-image">


    <div id="cajaGrande" >
        <div id="cajaChica">
            <form action="" id="form_log">
                    <label id="Log">Log In</label>
                <div id="nick">
                        <label>Nickname</label>
                        <input type="text" class="nickname"id="in_nick" name="nick"> <br>
                        <p class="feed_log"></p>
                </div>
                <div id="pass">
                        <label>Contraseña</label>
                        <input type="password" class="password" id="in_pass" name="pass"> <br>
                        <p class="feed_log"></p>
                </div>
            </form>
                <div id="butones">
                        <button class="btn btn-outline-success" id="boton_ingresar">Log In</button>
                        <button id="secret"></button>
                        <button class="btn btn-outline-info" id="boton_registro">Registro</button>
                        <br><br>
                        <button class="btn btn-outline-light" id="JustPlay">Sólo Juega</button>
                        <button  id="secret"></button>
                        <button class="btn btn-outline-danger" id="Return">Regresa</button>
                </div>
            
        </div>
    </div>



    <!-- Aparece cuando te quieres registrar -->
    <div id="bigbox">
        <div id="cajaChica_reg">
            <form action="" id="form_reg">
                    <label id="Log_reg">Registro</label><br>
                <div id="nick_reg">
                        <label class="fer">Nickname</label>
                        <input type="text" class="caja nickname" id="nick_input" name="nick"> <br>
                        <p class="feed_reg"></p>
                </div>
                <div id="pass_reg">
                    <button class="secret_reg"></button> <br>
                        <label class="fer">Contraseña</label>
                        <input type="password" class="caja password" id="nick_pass" name="pass"> <br>
                        <p class="feed_reg"></p>
                        <button class="secret_reg"></button> <br>
                </form>
                        <label>Confirmar Contraseña</label>
                        <input type="password" class="caja password" id="nick_passx2"> <br>
                        <p class="feed_reg"></p>
                </div>
           
                <div id="GoBack_btn">
                        <button class="btn btn-outline-info" id="registrar_button">Registro</button>
                        <button  id="justSecret"></button>
                        <button class="btn btn-outline-danger" id="return_button">Regresar</button>
                </div>
            
        </div>
       
    </div>
</body>
<script src="../../Dynamics/login.js"></script>
</html>