<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Cambay|Ubuntu&display=swap" rel="stylesheet">
    <style> 
        a{text-decoration:none;} 
         a:hover{text-decoration:none;}  
        </style>
    <title>Register</title>
</head>
<body style="background-color: #1F1F20;">
    <div id="bigbox">
        <div id="cajaChica">
            <label id="Log">Register</label><br>
           <div id="name">
               <label>Name</label>
               <input type="text" style="width:30%">
               <button id="justSecret"></button>
               <label>Surname</label>
               <input type="text" style="width:30%"> 
               <button id="secret"></button>
           </div>
           <div id="nick">
                <label id="fer">Nickname</label>
                <input type="text" id="caja"> <br>
           </div>
           <div id="pass">
            <button id="secret"></button> <br>
                <label id="fer">Password</label>
                <input type="text"  id="caja"> <br>
                <button id="secret"></button> <br>
                <label>Confirm password</label>
                <input type="text"  id="caja"> <br>
           </div>
           <div id="GoBack">
                <button class="btn btn-outline-info" id="hey">Register</button>
                <button  id="justSecret"></button>
                <button class="btn btn-outline-danger" id="atrasButton">Go back</button>
           </div>
        </div>
       
    </div>
</body>
<script>
function ChangePlace() {
  var tocaste = document.getElementById("atrasButton");
  tocaste.addEventListener("click", function(){
    location.href = "./logIn.html";    
    }); 
}
ChangePlace()
</script>
</html>