<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/end.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Passion+One|Poiret+One&display=swap" rel="stylesheet">
    <title>Ganaste</title>
</head>
<body>
    <p id="loser">You win</p>
    <button class="btn btn-outline-light" id="JustPlay">Go Back</button>
</body>
<script>
 function ChangePlace() {
  var tocaste = document.getElementById("JustPlay");
  tocaste.addEventListener("click", function(){
    location.href = "./Elegir_modo.html";    
    }); 
}
ChangePlace()
</script>
</html>