<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/login.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Cambay|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>LogIn</title>
</head>
<body style="background-color: #1F1F20;">
    <div id="cajaGrande" >
        <div id="cajaChica">
            <label id="Log">Log In</label>
           <div id="nick">
                <label>Nickname</label>
                <input type="text"> <br>
           </div>
           <div id="pass">
                <label>Password</label>
                <input type="text"> <br>
           </div>
           <div id="butones">
                <button class="btn btn-outline-success">Submit</button>
                <button id="secret"></button>
                <button class="btn btn-outline-info" id="hey">Register</button>
           </div>
        </div>
    </div>
</body>
</html>