#cajaGrande {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    top:10%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 110%;
    width: 100%;
    text-align: center;
    height: 65%;
}

#loser{
    text-align: center;
}

#cajaChica{
    width: 90%;
    height: 65%;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
  }

img{
    position: absolute;
    margin-left: 17%;
    margin-right: 5%;
    margin-top: 1%;
    top:20%;
    width: 60%;
    height: 60%;

  }

  
  #butones{
    position: absolute;
    top: 115%;
    margin-left: 40%;
}
