*{
    margin: 0;
    padding: 0;
}
body{
}
#container{
    z-index: 1;
}
#loser{
    font-size: 800%;
    color: white;
    font-family: 'Orbitron', sans-serif;
 /* font-family: 'Poiret One', cursive;*/
 /*font-family: 'Fredoka One', cursive;*/
    position: absolute;
    top: 25%;
    right: 35%;
}
#JustPlay{
    position: absolute;
    top: 70%;
    left: 60%;
}