    #test{
        /* top: 2.5rem; */
        left: 17.5%;
        position: relative;
        width: 65%;
    }

    #todo_fondo{
        z-index: -999;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }


    #dinero{
        color: white;
        position: absolute;
        bottom: 1%;
        left: 15%;
    }