#cajaGrande {
    position: absolute;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 10%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 110%;
    width: 90%;
    text-align: center;
    height: 65%;
}

#loser{
    text-align: center;
}

#cajaChica{
    width: 90%;
    height: 65%;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  #space{
      margin-left: 10px;
      margin-right: 10px;
  }

  #butones{
      position: absolute;
      top: 70%;
  }