body {
    margin: 0;
    padding: 0;
    color: black;
    overflow: hidden;
    /* background-image: url("../../../Media/login_background.jpg"); 
    background-size: cover; */
}

/* #myvideo{
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    
} */

/* https://wallpaperaccess.com/blue-space */
/* #JustPlay{
    position: absolute;
    top: 70%;
    right: 37%;
} */
#full-screen-background-image{
    z-index: -999;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#nick {
    margin:auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    
}
#nick label{
    padding-right: 10px;
}
#pass{
    margin:auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;   
}
#pass label{
    padding-right: 15px;
}
#Log{
    font-family: 'Orbitron', sans-serif;
    font-size: 420%;
    color: #11FF43;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

#form_log{
    height: 60%;
}
#form_reg{
    margin-bottom: 5%;
}

#cajaGrande{
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    margin-top: 7%;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    width: 60%;
    height: 60%;
}
#secret{
    padding-left: 25%;
    visibility: hidden;
}

#butones{
    margin-bottom: 4%;
}


/* Register Box */



#bigbox {

    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    margin-top: 7%;
    color: white;
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.603);
}

label{
    padding-right: 2%;
} 
#fer{
    padding-right: 13.8%;
}
 #Log_reg {
    font-family: 'Orbitron', sans-serif;
    font-size: 420%;
    margin: auto;
    margin-bottom: 4%;
    text-align: center;
    width: 100%;
    color: #45CAF1;
} 
.secret_reg {
 width: 20%;
 height: 20%;
 visibility: hidden;
}
#name_reg input{
    display: inline;
}
#cajaChica_reg{
    margin: 7%;
    height: 80%;
}
#cajaChica{
    margin: 7%;
}
#GoBack_btn{
    justify-content: space-around;
    margin-bottom: 5%;
}
#justSecret{
    width: 7%;
    visibility: hidden;
}
.caja{
    width: 65%;
}



