body{
    margin: 0;
}
#me {
    position: absolute;
    top: 10%;
    right: 43%;
    background-color: #373737;
    border: 1px solid white;

}
#wanted {
    position: absolute;
    bottom: 5%;
    right: 43%;
    background-color: #373737;
    border: 1px solid white;
    font-family: 'Bebas Neue', cursive;
}
#wantedname{
    position: absolute;
    bottom: 5%;
    right: 65%;
    background-color: transparent;
    border: none;
    font-size: 150%;
    color: #ff1a1a;
}
#imagenPrincipal{
    width: 100%;
    position: absolute;
    top: 0%;
}
#abajo{
    position: absolute;
    top: 0;
}

#escudos{
    position: absolute;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(46, 174, 208, .2);
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 300%;
    border-top: 30%;
    visibility: hidden;
}
#letraID{
padding-top: 17.5%;
padding-bottom: 17.5%;
padding-left: 40%;
}
.one{
    background-color:  #373737;
    border: 1px solid white;
    position: absolute;
    top: 20%;
    left: 5%;
}
.two{
    background-color:  #373737;
    border: 1px solid white;
    position: absolute;
    top: 20%;
    left: 95%;
}
#killsCounter{
    font-family: 'Press Start 2P', cursive;
    font-size: 170%;
    color: #E7033A;
    position: absolute;
    top: 10%;
    left: 80%;
}

.texto_intro{
    width:100%;
    margin-left: auto ;
    margin-right: auto ;
    word-wrap: break-word;
    border: 4px solid #45CAF1;
    font-family: 'Bebas Neue', cursive;
    font-size: 150%;
    height: 20%;
    color: #45CAF1;
    position:absolute;
    bottom:0;  
    background-color: black;
}
#balas{
    position: absolute;
    top: 10%;
    left: 4%;
    background-color: transparent;
    border: none;
}
.bala{
    border:1px solid black;
}