body {
    margin: 0;
    padding: 0;
    color: white;
}
#full-screen-background-image{
    z-index: -999;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#bigbox {
    position: absolute;
    top: 9%;
    left: 6%;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 110%;
    width: 30%;
    height: 85%;
}
#infobox {
    position: absolute;
    top: 9%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 110%;
    width: 40%;
    height: 85%;
}

#fer{
    padding-right: 13.8%;
}
#Log, #modo{
    padding-bottom: 7%;
    font-family: 'Orbitron', sans-serif;
    font-size: 300%;
    text-align: center;
    color: #45CAF1;
}

#cajaChica{
    width:100%;
    height: 80%;
    margin: 10%;
}
#Go{
    display: inline;
    margin-left: 10%;
    margin-right: 20%;
}
#shop{
    /* display: inline; */
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 7%;
}
#caja{
    width: 65%;
}

#datos{
    color: rgba(177, 182, 226, 0.99);
    background-color: rgba(32, 34, 49, 0.8);
    z-index: 2;
    position: absolute;
    width: 17%;
    right: 0%;
    top: 0;
    padding-left: 1rem;
}
#top{
    /* padding-left: .5rem; */
    width: 100%;
    display: inline;
    top:0;
}


.descript{
    width:80%;
    word-wrap: break-word;
}

#username{
    color: white;
}



